<div id="ephemera">
<h3>Collectables</h3>
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <h5>MAGICIANS CLUB Will Goldston / J C Pickstone SIGNED LETTER Magic Poster</h5>
      <img src="http://thumbs3.ebaystatic.com/m/m7x4NPXQV0kO3D7EuUPHcUg/140.jpg" alt="">
      <p>Price: £157.53 <a href="#">Bid Now</a></p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <h5>MAGICIANS CLUB Will Goldston / J C Pickstone SIGNED LETTER Magic Poster</h5>
      <img src="http://thumbs3.ebaystatic.com/m/m7x4NPXQV0kO3D7EuUPHcUg/140.jpg" alt="">
      <p>Price: £157.53 <a href="#">Bid Now</a></p>
    </div>
  </li>
</ul>
</div>
